{% load static %}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Rajat Goyal - Software Development Engineer</title>
    <meta name="viewport" content="width=device-width">
<script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/main.8eb72517.css' %}">
    <script type="text/javascript" src="{% static '/javascript/main.b9b80f05.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/neural.css' %}">





    <meta name="description" content="I am a Software Development Engineer working at Amadeus Labs, Bengaluru. See 'my skills &amp; offer' and 'my portfolio' to read more.">




    <meta property="og:title" content="Rajat Goyal - Software Development Engineer">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Rajat Goyal - Software Development Engineer">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://rajatgoyal.pythonanywhere.com/">
    <meta property="og:description" content="I am a Software Development Engineer working at Amadeus Labs, Bengaluru. See 'my skills &amp; offer' and 'my portfolio' to read more.">
    <meta property="og:image" content="{% static 'images/rajat.jpg' %}">
    <!-- <meta property="og:image:type" content="image/png"> -->
    <!-- <meta property="og:image:width" content="152"> -->
    <!-- <meta property="og:image:height" content="152"> -->

    <meta property="fb:profile_id" content="rajat.goyal.37017794">
    <meta property="fb:admins" content="rajat.goyal.37017794">
  </head>

  <body class="parent-home">
    <aside class="site-sidebar">
      <div class="site-sidebar-bg"></div>

      <div class="site-sidebar-inner">
        <a href="/" class="person">
          <div class="person-avatar">
            <img src="{% static '/images/rajat.jpg' %}" alt="" class="avatar">
          </div>
          <div class="person-content">
            <h1 class="person-title">Rajat Goyal</h1>
            <h2 class="person-subtitle">Software Development Engineer</h2>
          </div>
        </a>

        <nav class="block main-navigation">
          <div class="navigation-extend-bar">
            <div class="social-icons">


<a href="https://facebook.com/rajat.goyal.37017794" class="button button-icon" title="facebook: Rajat Goyal">
  <i class="fa fa-facebook-square"></i>
</a>

<a href="https://twitter.com/RajatGOYAL66" class="button button-icon" title="twitter: @rajatgoyal">
  <i class="fa fa-twitter-square"></i>
</a>

<a href="https://github.com/rajat13" class="button button-icon" title="github: rajat13">
  <i class="fa fa-github-square"></i>
</a>

<a href="https://www.linkedin.com/in/rajat-goyal-7b55ab104" class="button button-icon" title="linkedin: rajatgoyal">
  <i class="fa fa-linkedin-square"></i>
</a>



            </div>

            <a href="#" class="navigation-extend-button js-extend-main-navigation">
              <i class="fa fa-bars"></i>
            </a>
          </div>

          <div class="navigation-extendable">
            <ul>
              <li class=""><a href="/skills-and-offer/" id="skills">My skills &amp; offer</a></li>
              <li class=""><a href="/portfolio/" id="portfolio">Portfolio</a></li>
              <li class=""><a href="/contact/" id="contact">Contact</a></li>
            </ul>
            <ul>
              <li class=""><a href="/about-me/" id="aboutme">About me</a></li>
              <!-- <li class=""><a href="/blog">Tech blog</a></li> -->
              <li><a href="https://medium.com/@rajagoyal815" target="_blank" id="blog">Personal blog</a></li>
              <li class=""><a href="/talks/" id ="talks">My talks</a></li>
            </ul>
          </div>
        </nav>

        <div class="block block-social">
          <div class="block-title">Get in touch</div>
          <div class="block-content">
            <div class="social-icons">


<a href="https://facebook.com/rajat.goyal.37017794" class="button button-icon" title="facebook: Rajat Goyal">
  <i class="fa fa-facebook-square"></i>
</a>

<a href="https://twitter.com/RajatGOYAL66" class="button button-icon" title="twitter: @rajatgoyal">
  <i class="fa fa-twitter-square"></i>
</a>

<a href="https://github.com/rajat13" class="button button-icon" title="github: rajat13">
  <i class="fa fa-github-square"></i>
</a>

<a href="https://www.linkedin.com/in/rajat-goyal-7b55ab104" class="button button-icon" title="linkedin: rajatgoyal">
  <i class="fa fa-linkedin-square"></i>
</a>


            </div>
          </div>
        </div>


      </div>
    </aside>

    <div class="site-main">
      <div class="site-main-inner">
        <div class="home-section">
  <div class="home-section-inner">
    <div class="home-heading">
      Hi, I'm Rajat.
    </div>

    <h2 class="home-subheading">
      I am a Computer Science Graduate from Thapar University, Currently i am working as Software Engineer at
      <strong>Amadeus Software Labs, Bengaluru</strong>.
    </h2>



    <div class="home-buttons">
      <a href="/portfolio/" class="button button-outline button-white">Portfolio</a>
      <br>
      <a href="/skills-and-offer/" class="button button-outline button-white">My skills &amp; offer</a>
    </div>
<div>
    <div id="recording" class="recording-block" style="font-size: small;">
      <div class="recording"></div>
        <h1 id="speech2" style="font-size: 1em"></h1>
    </div>
    <div id="speechResults"></div>
    <br>
    </div>
  </div>

</div>

      </div>
    </div>
  <audio id="diljit" src="{% static 'mp3/diljit.mp3'%}" preload="auto"></audio>
<script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/1.0.0/speechkitt.min.js"></script>

<script type="text/javascript" src="{% static '/javascript/speech-control2.js' %}"></script>

  </body>
</html>
