<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hanji babeyo ki haal hai</title>
</head>
<body>
<h3>Saare baaabe theek hon??</h3>
<h3> Blog aa thode 22 da</h3>

{% for post in posts %}
<div style="border-style: solid;margin: 5px;padding: 5px">
       <div class ="title"><h1>{{post.title}}</h1></div>
    <div class="author"><h2>{{post.author}}</h2></div>
    <div class="published_date"><time>23-10-2018</time></div>
    <div class="post_content"><h3>{{post.text}}</h3></div>
</div>
{%endfor%}ex


</body>
</html>