{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <script type="text/javascript" src="{% static '/javascript/carousel.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}"/>
</head>
<body>
<div class="intro">
   <div class="animated-bar"></div>

   <div class="slide slide-a">
      <div class="slide-content">
         <p class="slide-a-child">Hi There!</p>
         <h1 class="slide-a-child">My name is Mohamed</h1>
         <p class="slide-a-child">I'm a Front End web developer</p>
      </div>
   </div>

   <div class="slide slide-b">
      <div class="slide-content">
         <h2 class="slide-b-child">what I do</h2>
         <p class="slide-b-child">I design modern, clean and creative websites</p>
         <p class="slide-b-child">And make them alive on the internet</p>
      </div>
   </div>

   <div class="slide slide-c">
      <div class="slide-content">
         <h2 class="slide-c-child">What I use</h2>
         <ul>
            <li class="slide-c-child"><p>Adobe Photoshop</p></li>
            <li class="slide-c-child"><p>HTML5</p></li>
            <li class="slide-c-child"><p>CSS3</p></li>
            <li class="slide-c-child"><p>Javascript</p></li>
         </ul>
      </div>
   </div>

   <div class="slide slide-d">
      <div class="slide-content">
         <h2 class="slide-d-child">Thanks for watching </h2>
         <p class="slide-d-child">You can check me on <a href="http://mohamdhasan.pro/" target="_blank">Mohamdhasan.pro</a></p>
         <button class="slide-d-child replay">Replay</button>
      </div>
   </div>

</div>
</body>
</html>